<%= render "layouts/errors", :object => @beard %>

<%= form_for @beard do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :rating %>
<%= f.text_field :rating %>
<%= f.label :image_url %>
<%= f.text_field :image_url %>
<%= f.submit %>
<% end %>

<h4>Manliness factor: 1 = Justin Beiber ... 10 = Hugh Jackman</h4>
