<% content_for(:title, "Beard World") %>

<% content_for(:nav) do %>
<% end %>

<h1>Welcome to the wonderful world of Beards!</h1>


  <% @beards.each do |beard| %>
<h2><%= beard.name %><br></h2>
<h3>
  Manliness: <%= beard.rating %> <br>
  <%= link_to beard_path(beard) do %>
    <%= image_tag("#{beard.image_url}") %>
  <%end%>
</h3>
  <% end %>

<hr>

<%= link_to "Add Beard", new_beard_path %>
