<% content_for(:title, "Beard World") %>

<% content_for(:nav) do %>
<%= image_tag("home.png") %>
<% end %>

<h1>Welcome to the wonderful world of Beards!</h1>


<center>
<div class="row">
  <% @beards.each do |beard| %>
  <div class="col-md-4">
    <h2><%= beard.name %><br></h2>
    <h3>
      Manliness: <%= beard.rating %> <br>
      <%= link_to beard_path(beard) do %>
        <%= image_tag("#{beard.image_url}") %>
      <%end%>
    </h3>
  </div>
    <% end %>
</div>
</center>

<hr>

<center>
  <div class="click">
<%= link_to new_beard_path do %>
<%= image_tag "clean.png" %>
<% end %>
</div>
<h2><%= link_to "Add Beard", new_beard_path %></h2>
</center>
