
<% content_for(:title, @beard.name) %>

<% content_for(:nav) do %>
<%= link_to "Home", beards_path %>
<% end %>

<center>
<h1><%= @beard.name %></h1>
<h4>Manliness Factor: <%= @beard.rating %></h4>
<%= image_tag("#{@beard.image_url}") %>

<% if @beard.reviews.any? %>
<h2>Reviews</h2>

<ul>
  <% @beard.reviews.each do |review| %>
  <li>
    <%= review.user %> says:
    <%= review.text %> |
    <%= link_to "Delete", beard_review_path(@beard, review),
    {:method => "delete"} %>
  </li>
  <% end %>
</ul>

<% else %>
  <h5>This beard needs a review!</h5>
<% end %>
  <h4><%= link_to "Add a review", new_beard_review_path(@beard) %></h4>
</center>

<hr>
<p><%= link_to "Edit Beard", edit_beard_path(@beard) %></p>
<p><%= link_to "Delete Beard", beard_path(@beard), method: :delete %></p>
