<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Arya' rel='stylesheet' type='text/css'>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class='container'>
<body>
  <nav>
    <h1>Beard World</h1>
      <%= yield(:nav) %>
    <hr>
  </nav>
  <%= yield %>
</body>
</div>
</html>
